.movie-detail {
  display: flex;
  padding: 20px;
}

.movie-poster {
  width: 300px;
  height: auto;
  border-radius: 5px;
  margin-right: 20px;
}

.movie-info {
  max-width: 600px;
}

.movie-info h1 {
  margin: 0 0 20px;
}

.movie-info p {
  margin: 10px 0;
}

.trailer {
  margin-top: 20px;
}
